@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .gradient-color {
    @apply bg-gradient-to-r from-purple-500 to-cyan-500;
  }
}